@import './variables';
@import './reset';

/* Components */
@import './components/auth';
@import './components/inputs';
@import './components/notify';

/* Pages */
@import './pages/signin';
@import './pages/signup';
@import './pages/protected';

*{
    scroll-behavior: smooth;
}

.content-responsive{
    padding: 0px 15px;

    @include bp(mobileMedium){
        padding: 0px rem(15px);
        height: calc(100% - rem(64px));
    }

    @include bp(mobileBIG){
        height: calc(100% - rem(67px));
    }

    @include bp(tablet){
        max-width: 750px;
        margin: auto;
        align-items: flex-start;
    }

    @include bp(tabletMD){
        max-width: 900px;
        padding: 0px 15px;
        height: calc(100% - rem(120px));
    }

    @include bp(laptop){
        max-width: 1100px;
    }

    @include bp(laptopBIG){
        max-width: 1250px;
        padding: 0px 15px;
    }

    @include bp(escritorio){
        max-width: 1600px;
    }
}

main{
    width: 100%;
}